<h1>Summary</h1>
<p>Here you can see all the services you added previously.</p>

<ng-container *ngIf="checkoutObs$ |async as checkoutObs">
	<table class="table">
		<thead>
		  <tr>
			<th></th>
			<th>Service</th>
			<th>Price</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let item of checkoutObs.items">
			<td>

			</td>
			<td>
			  {{ item.title }}
			</td>
			<td class="text-right">
			  {{ item.price | currency:'HUF':true }}
			</td>
		  </tr>
		</tbody>
		<tfoot>
		  <tr>
			<th></th>
			<th></th>
			<th class="text-right">{{ checkoutObs.totalPrice | currency:'HUF':true }}</th>
		  </tr>
		  <tr>
		  </tr>
		</tfoot>
	  </table>
	  <button *ngIf="checkoutObs.items.length" (click)="clearCheckout()" class="float-right btn btn-warning">Clear checkout list</button>



	  <form #f="ngForm" *ngIf="checkoutObs.totalItemsCount > 0">
		<h1 class="takeorder">
			Place you order
		</h1>
		<p>If you added all your needed services and you're logged in, please fill your the tags below and place your order.</p>

		<div class="form-group">
		  <label for="">Name</label>
		  <input #name="ngModel" name="name" [(ngModel)]="orderInfo.name" type="text" class="form-control" required>
		  <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
			<div *ngIf="name.errors?.required">Name is required.</div>
		  </div>
		</div>
		<div class="form-group">
		  <label for="">Address</label>
		  <input #addressLine1="ngModel" name="addressLine1" [(ngModel)]="orderInfo.addressLine1" type="text" class="form-control" placeholder="Line 1" required>
		  <div class="alert alert-danger" *ngIf="addressLine1.touched && addressLine1.invalid">
			<div *ngIf="addressLine1.errors?.required">Address Line 1 is required.</div>
		  </div>
		</div>
		<div class="form-group">
		  <label for=""></label>
		  <input #addressLine2="ngModel" name="addressLine2" [(ngModel)]="orderInfo.addressLine2" type="text" class="form-control" placeholder="Line 2" required>
		  <div class="alert alert-danger" *ngIf="addressLine2.touched && addressLine2.invalid">
			<div *ngIf="addressLine2.errors?.required">Address Line 2 is required.</div>
		  </div>
		</div>
		<div class="form-group">
		  <label for="">City</label>
		  <input #city="ngModel" name="city" [(ngModel)]="orderInfo.city" type="text" class="form-control" required>
		  <div class="alert alert-danger" *ngIf="city.touched && city.invalid">
			<div *ngIf="city.errors?.required">City is required.</div>
		  </div>
		</div>
		<button
		  [disabled]="(f.valid === false) || (userId === '')"
		  (click)="this.placeNewUserOrder()"
		  class="btn btn-primary takeorderbutton">Place your Order
		</button>
	  </form>
</ng-container>

<div *ngIf="userId === ''">
	<a href="/login" class="link-warning">If you want to place your order, you need to login first. Click here to login.</a>
</div>