<div class="row">
	<div class="col-md-6">
		<form #f="ngForm" (ngSubmit)="save(f.value)">
			<div class="form-group">
				<label for="title">Title</label>
				<input #title="ngModel" [(ngModel)]="service.title" name="title" id="title" type="text" class="form-control" required>
				<div class="alert alert-danger" *ngIf="title.touched && title.invalid">
					Title is required.
				</div>
			</div>
			<div class="form-group">
				<label for="price">Price</label>
				<div class="input-group">
					<input #price="ngModel" [(ngModel)]="service.price" name="price" id="price" type="number" class="form-control" style="text-align:right;" required>
					<span class="input-group-text">HUF</span>
				</div>
				<div class="alert alert-danger" *ngIf="price.touched && price.invalid">
					Price is required.
				</div>
			</div>
			<div class="form-group">
				<label for="category">Category</label>
				<select #category="ngModel" [(ngModel)]="service.category" name="category" id="category" class="form-select" required>
					<option selected>Open this select menu</option>
					<option *ngFor="let c of categories$ | async" [value]="c.name">
						{{ c.name }}
					</option>
				</select>
				<div class="alert alert-danger" *ngIf="category.touched && category.invalid">
					Category is required.
				</div>
			</div>
				<div class="form-group">
				<label for="imageUrl">Image Url</label>
				<input #imageUrl="ngModel" [(ngModel)]="service.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control" required>
				<div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
					ImageUrl is required.
				</div>
			</div>
			<button class="btn btn-primary">Save</button>
			<button (click)="delete()" type="button" class="btn btn-danger" >Delete</button>
		</form>
	</div>
	<div class="col-md-6">
		<div *ngIf='service.title' class="card mb-3" style="max-width: 540px;">
			<div class="row g-0">
			  <div class="col-md-4">
				<img [src]="service.imageUrl" *ngIf="service.imageUrl" class="img-fluid rounded-start">
			  </div>
			  <div class="col-md-8">
				<div class="card-body">
				  <h5 class="card-title">{{ service.title }}</h5>
				  <p class="card-text">{{ service.price | currency:'HUF':true }}</p>
				</div>
			  </div>
			</div>
		  </div>
	</div>
</div>
