h1, p, button
{
	text-align: center;
}

.container
{
	height: 200px;
	position: relative;
}

.center
{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
button
{
	width: 500px;
}