<h1>Your order was succesful!</h1>
<p>Click 'Go to My orders tab' button to see your previous orders</p>

<div class="container">
	<div class="center">
		<button 
			(click)="routeToMyOrders()"
			class="btn btn-primary">
			Go to My orders tab
		</button>
	</div>
</div>