<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<!--<a class="navbar-brand" routerLink="/">CleanCar</a>-->
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
	  <ul class="navbar-nav mr-auto">
		<li class="nav-item active">
			<img src="assets/car_icon.png" alt="Car" width="45" height="35">
		  </li>
		<li class="nav-item active">
		  <a class="nav-link" routerLink="/">Home
			<span class="sr-only"></span>
		  </a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/service-page">Services</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/checkout">
			  Checkout
        		<span class="badge badge-info badge-pill" *ngIf="checkoutObs$ | async as checkoutObs">
        		  {{ checkoutObs.totalItemsCount }}
        		</span>
			</a>
		</li>
		<li class="nav-item" *ngIf="!user">
			<a class="nav-link" routerLink="/login">Account</a>
		</li>
		<li class="nav-item" *ngIf="user">
			<a class="nav-link" routerLink="/my/orders">My orders</a>
		</li>
		<li class="nav-item" *ngIf="user?.userRole === 'admin' ">
			<a class="nav-link" routerLink="/admin/services">Manage Services</a>
		</li>
		<li class="nav-item" *ngIf="user">
			<a class="nav-link" (click)="logout()">Log Out</a>
		</li>
		<li class="nav-item name" *ngIf="user">
			<a class="nav-link disabled">{{ user.name }}</a>
		</li>
	  </ul>
	</div>
  </nav>
