<div class="card" style="width: 15rem;">
	<img [src]="service.imageUrl" class="card-img-top" alt="...">
	<div class="card-body">
	  <h5 class="card-title"> {{ service.title }} </h5>
	  <p class="card-text"> {{ service.price | currency:'HUF':true }} </p>
	</div>
	<div class="card-footer">
		<button href="#" 
			*ngIf="getServiceQuantity() === 0; else remoVe"
			(click)="addToCheckout()"
			class="btn btn-success">
			Add service to checkout
		</button>
		<ng-template #remoVe>
			<button href="#" (click)="removeFromCheckout()" class="btn btn-secondary">
				Remove service from checkout list
			</button>
		</ng-template>
	</div>
</div>