.container
{
	height: 200px;
	position: relative;
}

.center
{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

button
{
	width: 500px;
}

p
{
	text-align: center;
	margin-top: 10px;
}

.g_image
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 100px;
	
}