<img src="assets/google.png" alt="google" class="g_image">

<p>Here you can use your Google account to login. If you are logged in, you can place order and view your order history.</p>

<div class="container">
	<div class="center">
		<button
			(click)="login()"
			class="btn btn-primary">
			Login via Google
		</button>
	</div>
</div>