<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of filteredServices">
            <td>{{ item.title }}</td>
            <td>{{ item.price }}</td>
            <td>
                <a [routerLink]="['/admin/services', item.$key]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>

<div class="container">
	<div class="center">
		<a class="btn btn-primary" 
            routerLink="/admin/services/new">
            New service
        </a>
	</div>
</div>