<h1>My orders</h1>

<table class="table">
	<thead>
	  <tr>
		<th>Customer</th>
		<th>Date</th>
		<th>Total price</th>
	  </tr>
	</thead>
	<tbody>
	  <tr *ngFor="let order of myOrders$ | async">
		<td>{{ order.orderInfo.name }}</td>
		<td>{{ order.datePlaced | date}}</td>
		<td>{{ getTotalPriceOfOrder(order) }}</td>
	  </tr>
	</tbody>
  </table>
