<div class="row">
    <div class="col-3">
      <app-service-filter [category]="category"></app-service-filter>
    </div>
	<div class="col sticky-top">
		<div class="row" *ngIf="checkoutObs$ | async as checkoutObs">
			<ng-container *ngFor="let s of filteredServices; let i = index">
				<div class="col">
					<app-service-card [service]="s" [checkout]="checkoutObs"></app-service-card>
				</div>
				<div *ngIf="(i + 1) % 3 === 0" class="w-100"></div>
			</ng-container>
		</div>
		<div class="container">
			<div class="center">
				<button
					class="btn btn-primary"
					(click)="goToCheckout()" >
					Go to checkout
				</button>
			</div>
		</div>
	</div>
</div>