.card-footer {
	padding: 0;
	text-align: center;
}

.card {
	height: 300px;
	margin-bottom: 30px;
}

.container
{
	height: 200px;
	position: relative;
}

.col
{
	margin-bottom: 40px;
}

.center
{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

button
{
	width: 500px;
}