<div class="sticky-top">
    <div class="list-group">
        <a class="list-group-item list-group-item-action"
            [class.active]="!category"
            routerLink="/service-page">
            All Categories
        </a>
        <a *ngFor="let c of categories$ | async" 
            routerLink="/service-page"
            [queryParams]="{ category: c.name }"
            class="list-group-item list-group-item-action"
            [class.active]="category === c.name">
            {{ c.name }}
        </a>
    </div>
</div>
  