<h1 *ngIf="this.appUser; else anonymousUser">
	Welcome {{ this.appUser.name }}!
</h1>
<ng-template #anonymousUser>
	<h1>Welcome newcommer!</h1>
</ng-template>

<p>Welcome on the CleanCar page. Here you can place order for cleaning services and one of our colleagues will contact you.</p>
<p>Already {{getAllUserCount()}} user used our services!</p>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
	  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
	  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img src="https://firebasestorage.googleapis.com/v0/b/cleancar-bbdfd.appspot.com/o/service_captures%2Fcommon_vacuum.jpg?alt=media&token=ac3a43f2-f418-445e-8831-360a7329b62f" class="d-block w-100" alt="...">
		<div class="carousel-caption d-none d-md-block">
		  <h5>Interior cleaning</h5>
		</div>
	  </div>
	  <div class="carousel-item">
		<img src="https://firebasestorage.googleapis.com/v0/b/cleancar-bbdfd.appspot.com/o/service_captures%2Fcar_washing.jpg?alt=media&token=9a55e79c-70c1-4cfe-a9d4-2627a6a38d67" class="d-block w-100" alt="...">
		<div class="carousel-caption d-none d-md-block">
		  <h5>Washing</h5>
		</div>
	  </div>
	  <div class="carousel-item">
		<img src="https://firebasestorage.googleapis.com/v0/b/cleancar-bbdfd.appspot.com/o/service_captures%2Fwheel_washing.jpg?alt=media&token=375000e8-0c0f-4f89-bf4c-a04f1e0558ee" class="d-block w-100" alt="...">
		<div class="carousel-caption d-none d-md-block">
		  <h5>Polisihing</h5>
		</div>
	  </div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Next</span>
	</button>
  </div>